button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* background-color: #006d0f; */
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    margin: 1em;
}

.selected {
    background-color: #008CBA; /* Change color to blue */
    color: white;
}


button:disabled {
    background-color: #ccc;
}