.game-page {
    text-align: center;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loading, .game-prompt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .game-page {
    width: 100%;
  }
}

.finish-button {
    margin-top: 20px;
}

.game-content{
 
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

